POSTGRES_PASSWORD=CHANGE_ME
SECRET_KEY=CHANGE_ME
ADMIN_USERNAME=teacher
ADMIN_PASSWORD=CHANGE_ME

DOMAIN=:80
HTTP_PORT=8080
HTTPS_PORT=8443
COOKIE_SECURE=false

MAX_USERS=100
MAX_DATABASES=2
MAX_TOTAL_DATABASES=200
QUERY_TIMEOUT_SECONDS=10
MAX_ROWS=500
MAX_UPLOAD_BYTES=5242880
MAX_SQL_STATEMENTS=100
MAX_RESULT_BYTES=1048576
STUDENT_CONNECTION_LIMIT=2
MAX_ACTIVE_QUERIES=12
